<p id="notice"><%= notice %></p>

<p>
  <strong>Url:</strong>
  <%= @link.url %>
</p>

<p>
  <strong>Short url:</strong>
  <%= @link.short_url %>
</p>

<p>
  <strong>Active:</strong>
  <%= @link.active %>
</p>
<div class="panel panel-default center-block">
  <div class="panel-heading">Number of visits by country</div>
  <div class="panel-body">
    <img src="<%= @count_country_map %>" class="img-responsive ">
  </div>
</div>

<div class="panel panel-default center-block">
  <div class="panel-heading">Number of visits</div>
  <div class="panel-body">
    <img src="<%= @count_country_bar %>" class="img-responsive ">
  </div>
</div>

<%= link_to 'Edit', edit_link_path(@link) %> |
<%= link_to 'Back', dashboard_path %>
